<div id="imageMenu">
  <%= render '/refinery/content_page' %>
</div>

<div id="news_container">
  <% @items = Refinery::News::Item.latest(10) %>

<%= render :partial => '/refinery/news/items/recent_posts' %>
</div>