/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

body {
  font-family: "HelveticaNeueW01-57Cn", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #0E3178;
}

h1 {
  font-size: 48px;
  font-family: "HelveticaNeueW01-BlackC";
}

h2 {
  font-size: 15px;
  font-family: "HelveticaNeueW01-BlackC";
}

#page {
  padding-top: 130px;
}

@media (max-width: 910px) {
  #page {
    padding-top: 194px;
  }
}

#body {
  width: 75%;
  position: absolute;
  right: 0;
  top: 400px;
  line-height: 19px;
}

#side_body {
  width: 22%;
  top: 400px;
  padding-top: 10px;
  margin-left: 20px;
  position: absolute;
  line-height: 15px;
}

#side_body h2 {
  color: #797979
}

#banner {
  height: 280px;
  top: 115px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#home-page #banner {
  top: 130px;
}

#banner img {
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#body_content_title {
  position: absolute;
  color: white;
  top: 240px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

#news_container {
  padding-top: 25%;
}

