.menuContainer {
  top: 50px;
  position: absolute;
  background-color: #03954B;
  width: calc(100% - 140px);
  z-index: 20;
  padding-left: 140px;
  padding-top: 20px;
}

.fixed {
  position:fixed;
  top:0;
}

.fixedLogo {
  position: fixed !important;
  top: -30px !important;
}

#topPic {
  height: 50px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#menuBar {
  height: 70px;
  display: inline-block;
  padding-top: 20px;
  background-color: gray;
  padding-bottom: 0;
}

.image {
  position: relative;
  width: 100%;
  top: -150px;
}

.logo {
  position: absolute;
  height: 120px;
  display: inline-block;
  width: relative;
  z-index: 30;
  top: 20px;
}

#title {
  font-style: italic;
  color: white;
  display: inline-block;
  padding: 0;
}

#title h1 {
  font-size: 3.8em;
  margin: 2px;
  padding: 0;
}

#title h2 {
  font-size: 1em;
}

/* For different sizes */

@media (max-width: 350px) { /* Phone size */
  #topPic {
    height: 30px;
  }
}

@media (min-width: 450px) { /* Inbetween Size */
  .image {
    top: -250px;
  }
}

@media (min-width: 600px) { /* Inbetween Size */
  .image {
    top: -350px;
  }
}

@media (min-width: 1050px) { /* Tablet size */
  .image {
    top: -450px;
  }
}

@media (min-width: 2000px) { /* Large monitor size */
  .image {
    top: -750px;
  }
}
