.headerContainer {
  top: 50px;
  position: absolute;
  background-color: #005D34;
  width: 100%;
  z-index: 20;
  text-align: center;
}

.fixed {
  position:fixed;
  top:0;
}

#topPic {
  height: 50px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.topImage {
  position: relative;
  width: 100%;
  top: -150px;
}

.logo {
  height: 120px;
  width: relative;
}

.logoContainer {
  z-index: 30;
  display: inline-block;
  position: absolute;
  top: -45px;
}

#title a:link, 
#title a:visited,
#title a:active {
  text-decoration: none;
  color: white;
}

#title {
  display: inline-block;
  position: relative;
  padding: 0;
  padding-left: 110px;
  vertical-align: top;
  height: 80px;
}

#title img {
  height: 80px;
}

#search_container {
  display: inline-block;
  position: relative;
  top: 25px;
}

#query  {
  background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  color: #bebebe;
  width: 0px;
  padding: 6px 20px 6px 15px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  transition: all 0.7s ease 0s;
}

#query:focus {
  width: 120px;
  outline:none; box-shadow:none;
  padding: 6px 15px 6px 35px;
}

/* For different sizes */

/* menu bar */

@media (max-width: 883px) {
  #menu ul li ul .first {
    margin-top: 100px; //the gap between the menu and submenu
  }
  #menu {
    padding-top: 0px;
  }
}


/* Top picture */

@media (max-width: 350px) { /* Phone size */
  #topPic {
    height: 30px;
  }
}

@media (min-width: 450px) { /* Inbetween Size */
  .topImage {
    top: -250px;
  }
}

@media (min-width: 600px) { /* Inbetween Size */
  .topImage {
    top: -350px;
  }
}

@media (min-width: 1050px) { /* Tablet size */
  .topImage {
    top: -450px;
  }
}

@media (min-width: 2000px) { /* Large monitor size */
  .topImage {
    top: -750px;
  }
}
