#imageMenu #banner {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

#imageMenu #banner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#imageMenu #banner li {
  text-decoration: none;
  float: left;
  width: 25%;
}

#imageMenu a:link, 
#imageMenu a:visited,
#imageMenu a:active {
  color: white;
}

#imageMenu #banner h2 {
  z-index: 5;
  font-size: 35px;
  position: absolute;
  top: 65%;
  color: white;
  text-align: center;
  width: 2%;
  text-shadow: 1px 1px 3px grey;
}

#imageMenu h1 {
  display: none;
}
