.news_items_main {
  background-color: #d4d4d4;
  width: 99%;
  margin-left: 0.5%;
}

.published_date {
  display: inline;
}

.news_items_main h2 {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #0E3178;
}

.news_items_main h2,
.news_items_main p {
  color: #0E3178;
  font-size: 1.5em;
}

.news_items_content {
    vertical-align: top;
    height: 220px;
    overflow: hidden;
}

.news_items_image {
    display: inline-block;
}

