.news_item h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

#news-page #body h2 {
  font-size: 28px;
}

#news-page #body .readMore {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.news_items_main {
  background-color: #EBEBEB;
  width: 100%;
  position: relative;
}

#news-page #body .news_item_truncated {
  padding-bottom: 30px;
  height: 130px;
  overflow: hidden;
}

.news_items_content img {
  display: none;
}

.published_date {
  display: inline;
  color: #797979;
}

.news_items_main h2 {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  color: #0E3178;
  font-size: 32px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #0E3178;
}

.news_items_content {
  vertical-align: top;
  height: 280px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.news_items_image {
  display: inline-block;
}

.readMore {
  margin-right: 20px;
  font-family: "HelveticaNeueW01-BlackC";
}

.news_footer {
  font-family: "HelveticaNeueW01-BlackC";
  width: 100%;
  padding-top: 15px;
  font-size: 1rem;
}

#other_news {
  list-style: none;
}

