#sponsors {
  list-style: none;
  text-align: center;
}

#sponsors li {
  width: 300px;
  display: inline-block;
  text-align: left;
  padding: 20px 70px 50px 70px;
}

#sponsors h2 {
  font-size: 20px;
}

#sponsors-page #body {
  width: 100%;
}
